@page {
  size: A4;
  margin: 2.5cm;
  @bottom-center { content: "Página " counter(page); font-size: 9pt; color: #666; }
}
@page :first { @bottom-center { content: none; } }

body { font-family: "Georgia", serif; font-size: 11pt; line-height: 1.6; }

.portada {
  position: relative;
  display: flex; flex-direction: column; align-items: center; text-align: center;
  width: 21cm; height: 29.7cm; margin: -2.5cm; box-sizing: border-box; padding: 2.5cm;
  break-after: page;
}
.portada-contenido { flex-grow: 1; display: flex; flex-direction: column; justify-content: center; }
.portada .escuela { font-size: 1.1em; margin-top: 1cm; font-weight: bold; }
.portada-titulo { font-family: "Helvetica", sans-serif; font-size: 24pt; margin-top: 2.5cm; line-height: 1.3; }
.portada-subtitulo { font-size: 14pt; font-style: italic; color: #555; margin-top: 0.5cm; }
.portada-autores { margin-top: 2.5cm; font-size: 12pt; line-height: 1.4; }
.licencia { position: absolute; bottom: 2.5cm; left: 0; right: 0; font-size: 0.7em; color: #777; width: 100%; }
.licencia p { text-align: center; margin-top: 0.5em; }

nav#TOC { break-after: page; }
nav#TOC h2 { font-family: "Helvetica", sans-serif; font-size: 20pt; text-align: left; border-bottom: 1px solid black; padding-bottom: 10px; }
nav#TOC ul { list-style-type: none; padding-left: 0; }
nav#TOC a { text-decoration: none; color: black; }
nav#TOC a::after { content: leader('.') target-counter(attr(href), page); }
nav#TOC li { margin-bottom: 0.7em; font-size: 12pt; }

h1, h2, h3 { font-family: "Helvetica", sans-serif; color: #333; }
h1 { font-size: 20pt; border-bottom: 1.5px solid #555; padding-bottom: 6px; margin-top: 1em; break-before: page; }
h2 { font-size: 16pt; margin-top: 2em; }
h3 { font-size: 14pt; font-weight: bold; margin-top: 1.5em; border-top: 1px solid #ccc; padding-top: 1em; }

div.quarto-chapter-body > h1:first-of-type {
    break-before: auto;
}